.messageSend,
.messageReceive {
  display: flex;
  align-items: center;
}
.messageSend {
  justify-content: flex-start;
}
.messageReceive {
  justify-content: flex-end;
}
.senderName {
  margin-left: 0.5em;
}
.messageSendBox {
  padding: 1em 3em;
  width: 25vw;
  background: #5031a8;
  border-radius: 0px 10px 10px 10px;
  color: #fff;
  font-size: 1.1em;
  justify-content: flex-start;
  margin: 2em 0;
}
.receiverName {
  margin-left: 0.5em;
}
.messageReceiveBox {
  margin: 2em 0;
  padding: 1em 3em;
  width: 25vw;
  background: #f6f6f8;
  border-radius: 10px 10px 0px 10px;
  color: black;
  font-size: 1.1em;
  justify-content: flex-end;
}
.adminBox {
  margin: 2em 0;
  padding: 1em 3em;
  width: 25vw;
  background: #b2c08a;
  border-radius: 10px 10px 0px 10px;
  color: black;
  font-size: 1.1em;
  justify-content: flex-end;
}
