.joinContainer {
  /* background: #fff; */
  height: 100vh;
  padding: 20vh 4em;
  color: #fff;
}
.joinContent {
  /* background: rgb(155, 155, 240); */
  display: flex;
}
.joinLeft,
.joinRight {
  width: 50%;
}
.joinLeft {
  position: relative;

  background: linear-gradient(
    111.15deg,
    #4a4949 36.05%,
    rgba(18, 18, 18, 0) 83.55%
  );
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(8px 4px 8px rgba(0, 0, 0, 0.25));

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.joinLogo {
  width: 50%;
  /* filter: invert(90%); */
}
.lText {
  /* background: rgb(62, 62, 131); */
  width: 65%;
}
.logoText {
  /* position: absolute; */
  margin-top: 3em;
  /* top: 15em; */
  /* width: 60%; */
  font-family: 'Righteous', cursive;
  font-size: 20px;
  /* background: rgb(140, 140, 216); */
  text-align: center;
  /* margin-left: -30px; */
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(23, 88, 67), 0 0 102px rgb(23, 88, 67),
    0 0 151px rgb(23, 88, 67);
}
.logoText:hover {
  /* text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(23, 88, 67), 0 0 102px rgb(23, 88, 67),
    0 0 151px rgb(23, 88, 67); */
  text-shadow: none;
  cursor: grab;
}
.joinRight {
  /* background: cornsilk; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4em;
}
.inputBox {
  margin-bottom: 4em;
}
.joinInput {
  width: 329px;
  height: 52px;
  outline: none;
  border: 0;
  padding-left: 1em;
  background: #ffffff;
  font-family: 'Thasadith', sans-serif;
  transition: 0.4s ease-in;
}
.joinInput:focus {
  /* border-radius: 10px; */
  /* border: 4px solid #62da76;  */

  backdrop-filter: blur(9px);
  box-shadow: 4px 5.5px 0 2px #1db937;
  transition: 0.4s ease-in;
  border-style: outset;
}
.joinButton {
  width: 329px;
  height: 52px;
  font-family: 'Righteous', cursive;
  background: #1db937;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  transition: 0.4s ease-in;
}
.joinButton:hover {
  background: #168a29;
  transition: 0.4s ease-in;
}
@media (max-width: 1080px) {
  .joinContainer {
    padding: 20vh 1em;
    /* background: lemonchiffon; */
  }
}
@media (max-width: 800px) {
  .joinContainer {
    padding: 5vh 1em;
  }
  .joinContent {
    flex-direction: column;
  }
  .joinLeft,
  .joinRight {
    width: 70%;
    margin: auto;
  }
  .joinLeft {
    padding: 4em 0;
  }
}
@media (max-width: 415px) {
  .joinLeft,
  .joinRight {
    width: 95%;
    margin: auto;
  }
  .joinInput,
  .joinButton {
    width: 80vw;
  }
}
